.mail-preview{
    display: grid;
    grid-template-columns: 1em 20% 10% 45% 10%;
    justify-content:space-between;
    padding: 0.5em;
    margin: 0;
    font-size: 1.5em;
    position: relative;
    align-items: center;
    gap: 1em;
}

.mail-preview.unread >*:not(.star) {
    font-weight: bold;
    white-space: nowrap;
}

.mail-from {
    overflow: hidden;
}

.mail-subject {
    /* min-width: 5em;
    width: 100%; */
    /* max-width: 5em; */
    overflow: hidden;
}

.mail-body {
    /* min-width: 25em; */
    /* max-width: 25em; */
    overflow: hidden;
}
.mail-preview.read{
    background-color: var(--blue-color-05);
    white-space: nowrap;
}

.mail-preview .buttons{
    display: none;
    position: absolute;
    right: 0.7em;
    top:0;
    color: var(--mono-color-03);

}

.mail-preview:hover .buttons{
    background-color: var(--mono-color-01);
    display: inline-block;
    top:.4em;
}


    
.mail-preview:hover .send-at{
    visibility: hidden ;
}

.mail-preview.read:hover .buttons{
    background-color: var(--blue-color-05);
    display: inline-block;
    top:.7em;
}

.mail-preview .buttons a{
    padding: 0.5em;

   
}

.mail-preview .buttons a:hover{
    color: var(--mono-color-04);
}

.star {
    color: lightgray;
    transition: color 200ms;
}

.star.filled {
    color: gold;
}

.first-letter{
    text-transform: uppercase;
    background-color: rgb(91, 91, 194);
    color: var(--mono-color-01);
    padding: .5em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: none;
}

.sender{
    text-transform: capitalize;
    display: none;
}