.mail-preview{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 10fr 1fr;
    justify-content: space-between;
    border-bottom: 1px solid var(--mono-color-02);
    padding: 0.5em;
    margin: 0;
    font-size: 1.5em;
    position: relative;
}

.mail-preview.unread{
    font-weight: bold;
}

.mail-preview .buttons{
    display: none;
    position: absolute;
    right: 0.5em;
    top:0;
    color: var(--mono-color-03);

}

.mail-preview:hover .buttons{
    background-color: var(--mono-color-01);
    display: block;
    
}

.mail-preview .buttons a{
    padding: 0.5em;
}

.mail-preview .buttons a:hover{
    color: var(--mono-color-04);
}

.star {
    color: lightgray;
    transition: color 200ms;
}

.star.filled {
    color: gold;
}