 /* mail list */
 .mail-list {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
 }

 .mail-list li {
    list-style: none;

 }

 .mail-list:first-child {
    border-top: 1px solid var(--mono-color-02);
 }

 .sorting button {
    border-radius: 1.2em;
    border: solid 1px var(--mono-color-02);
    margin: .3em;
    padding: .5em 1.5em;
    position: relative;
    background: var(--mono-color-01);


 }

 .sorting button i {
    margin-right: .5em
 }

 .empty-trash-can {

    background-color: var(--blue-color-03);
    font-size: 1em;
    padding: 1em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    margin: .5em;
 }

 .empty-trash-can i {
    padding-right: 1em;
 }