.mail-compose {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.mail-compose h2{
    /* background-color: var(--blue-color-01); */
    margin-bottom: 2em;
}

.mail-compose .input{
    margin: 1.5em;
    margin-bottom: .8em;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.mail-compose label {
    width: 4em;
}
.mail-compose input, .mail-compose textarea{
  flex: 1;
  padding: .5em;
}

.mail-compose  {
    color: var(--mono-color-03)
}

.send-button {
    background-color: var(--button);
    color: var(--mono-color-01);
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 1.2em;
    border: none;
    cursor: pointer;
    margin: 1em;
}
.close-button {
    position: absolute;
    right: 2em;
    top: 1.5em;
    background-color: unset;
    border: unset;
    font-weight: bold;
    cursor: pointer;
}

.mail-compose input,textarea {
    border: none;
}

.mail-compose .input:not(.from-input, .body-input){
    border-bottom: 1px solid var(--mono-color-02) ;
    padding: .5em 0;
    
}


.mail-compose label{
    font-size: 1.3em;
}

.new-message {
    padding: 1em .5em;
    background-color: var(--blue-color-01);
}
    
    
   